<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--1.配置shiro的核心对象(web.xml中目标代理的对象)-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--安全管理器-->
        <property name="securityManager" ref="securityManager"></property>
        <!--当前用户未认证,而访问了需要认证的请求地址时,跳转的页面-->
        <property name="loginUrl" value="/toLogin"></property>
        <!--当前用户没有某一个权限,而访问了此请求地址是跳转的页面-->
        <property name="unauthorizedUrl" value="/unauthorized"></property>
        <!--拦截规则-->
        <property name="filterChainDefinitions">
            <value>
     <!--       /login = anon
                /logout = logout
                /* = authc
      -->
            </value>
        </property>
    </bean>


    <!--2.配置安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--设置realm-->
        <property name="realm">
            <bean class="com.yuanjingyu.realms.MyRealm">
                <!--设置加密方式-->
                <property name="credentialsMatcher">
                    <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                        <!--设置加密方式-->
                        <property name="hashAlgorithmName" value="MD5"></property>
                        <!--设置迭代次数-->
                        <property name="hashIterations" value="1024"></property>
                    </bean>
                </property>
            </bean>
        </property>


        <!--3.会话管理-->
        <property name="sessionManager">
            <bean class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
                <!--                &lt;!&ndash;配置会话超时时间&ndash;&gt;-->
                <!--                <property name="globalSessionTimeout" value="20000"></property>-->
            </bean>
        </property>


        <!--4.记住我-->
        <property name="rememberMeManager">
            <bean class="org.apache.shiro.web.mgt.CookieRememberMeManager">
                <!-- 配置cookie-->
                <property name="cookie">
                    <bean class="org.apache.shiro.web.servlet.SimpleCookie">
                        <constructor-arg value="qianfeng"></constructor-arg>
                        <!--xxs攻击-->
                        <property name="httpOnly" value="true"></property>
                        <!--有效期 60*60*30*24 -->
                        <property name="maxAge" value="#{60*60*24*30}"></property>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>


</beans>